{% block content %}
<h1 class="display-4">Inventory</h1>
<hr>
{% from "includes/_formhelper.html" import render_field %}

<form method="POST" action="">
 <div class="form-group">
  {{ render_field(form.aboutUsName, class="form-check") }}
 </div>
 <div class="form-group">
  {{ render_field(form.aboutUsRole, class="form-check") }}
 </div>
    <div class="picture">
  <input type="file" style="border:none" name = file class = "form-control">
 </div>
 <div id="prof">
 </div>
 <input type="submit" value="Submit" class="btn btn-primary"/>

</form>
{% endblock %}
