{% extends "base.html" %}
{% block title %}Library Loan System - Create User{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<style>
    .content {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .titleHR {
        width: 10%;
        margin-left: 0;
        height: 2px;
        color: black;
        border-style: none;
        background-color: black;
    }
</style>
<div class="content">
<h1 class="display-4">CREATE ACCOUNT</h1>
<hr class="titleHR">
<form method="POST" action="">
 <div class="form-group">
  {{ render_field(form.firstName, class="form-control") }}
 </div>
 <div class="form-group">
  {{ render_field(form.lastName, class="form-control") }}
 </div>
 <div class="form-group">
  {{ render_field(form.DOB, class="form-check") }}
 </div>
 <div class="form-group">
  {{ render_field(form.gender, class="form-check") }}
 </div>
 <div id="prof">
 <div class="form-group">
  {{ render_field(form.email, class="form-control") }}
 </div>
 </div>
  <div class="form-group">
  {{ render_field(form.pw, class="form-control") }}
 </div>
  <div class="form-group">
  {{ render_field(form.confirmpw, class="form-control") }}
 </div>
 <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
