{% extends "staffBase.html" %}
{% block title %}monoqolo - new staff{% endblock %}
{% block content %}
<style>
   .chart {
      width: 45%;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
   }
   .pies {
      margin-left: auto;
      margin-right: auto;
   }
</style>
<h1 class="display-4">Customer Demographic</h1>
<div class="pies">
   <div class="chart">
      <embed type="image/svg+xml" src={{ chart|safe }}>
   </div>

   <div class="chart">
      <embed type="image/svg+xml" src={{ chart2|safe }}>
   </div>
</div>

{% endblock %}
