<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    </head>
    <body>

        <div class="container-fluid">
        </div>
        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
{% block content %}
<style>
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
.text-right {
	float:right;
}
</style>
<script>
window.onload = function showTotal() {
  	var tot = sessionStorage.getItem("total");
	document.getElementById("showtotal").innerHTML = '$' + tot;

	var stot = sessionStorage.getItem("subtotal");
	document.getElementById("showsubtotal").innerHTML = '$' + stot + '.0';

	var tax = sessionStorage.getItem("tax");
	document.getElementById("showtax").innerHTML = '$' + tax;

	var qt = sessionStorage.getItem("quantity");
	document.getElementById("showquantity").innerHTML =  qt;

	var xprice = sessionStorage.getItem("fullprice");
	document.getElementById("showxprice").innerHTML = '$' +  xprice;
}
</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Invoice</h2><h3 class="pull-right">Order # 10892</h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					{{ shippingList[-1].get_fname() }}<br>
						{{ shippingList[-1].get_lname() }}<br>
    					{{ shippingList[-1].get_address() }}<br>
    					Singapore, {{ shippingList[-1].get_postal() }}
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
    					{{ shippingList[-1].get_fname() }}<br>
						{{ shippingList[-1].get_lname() }}<br>
    					{{ shippingList[-1].get_address() }}<br>
    					Singapore, {{ shippingList[-1].get_postal() }}
    				</address>
    			</div>
    		</div>

    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    					<strong>Payment Method:</strong><br>
    					Visa ending **** 1234
<!--						{{ paymentList[-1].get_cardno() }}-->
						<br>
    					{{ shippingList[-1].get_email() }}
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					14 February 2020<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>

								{% for cart in cartList %}
    							<tr>
    								<td>{{ cart.get_itemName() }}</td>
    								<td class="text-center">${{ cart.get_itemPrice() }}</td>
    								<td class="text-center" id="showquantity"></td>
    								<td class="text-right" id="showxprice">${{ cart.get_itemPrice() }}</td>
    							</tr>
                               	{% endfor %}
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right" id="showsubtotal">$</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Shipping</strong></td>
    								<td class="no-line text-right">$5.0</td>
    							</tr>
								<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>GST(7%)</strong></td>
    								<td class="no-line text-right" id="showtax" >$</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right" id="showtotal">$</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center">
<!--		<a href ="/"><button class="btn btn-default">Return to Home</button></a>-->
		<form action="{{ url_for('cleartestCart')}}" method="POST">
                    <input type="submit" value="Return to Home" class="btn btn-default" onclick>
              </form>
    </div>
  </div>
</div>
{% endblock %}
<!--comment-->
