{% extends "staffBase.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}
{% block content %}
<style>

    .btn {
    margin-left: 20px;
    margin-right: 20px;
    }
</style>
<h1 class="display-4">Customer Inquiries</h1>
<div>
    {% if count == 0 %}
    <p>There are no inquiries.</p>
    {% elif count == 1 %}
    <p>There is 1 inquiries.</p>
    {% else %}
    <p>There are {{ count }} inquiries.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Inquiries</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contactList %}
        <tr>
            <td>{{ contact.get_fname() }}</td>
            <td>{{ contact.get_lname() }}</td>
            <td>{{ contact.get_email() }}</td>
            <td>{{ contact.get_text() }}</td>
            <td>
                <form action="{{ url_for('deleteContact', email=contact.get_email()) }}" method="POST">
                    <a href="mailto: {{ contact.get_email() }}" class="btn btn-primary">Resolve      </a>
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this inquiry?')">

                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
