{% extends "staffBase.html" %}
{% block title %}monoqlo - staff home{% endblock %}
{% block content %}
<style>
    #homeAnnounce {
        height: 100%;
        border-style: solid;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5%;
    }
    #homeAnnounce p {
        text-align: center;
        font-weight: bold;
    }
    #annDate {
        color: grey;
    }
    #annTitle {
        font-weight: bold;
    }
    #annDesc {
        font-style: italic;
    }
    #staffNav {
        color: black;
    }
</style>
<div class="back">
<h1 class="display-4">welcome back, {{ session["name"] }}!</h1>
    <br>
    <br>

    <div id="homeAnnounce">
    <p class="display-4">Latest Announcements</p>
    <table class="table table-hover">
        <tbody>
         {% for ann in annList %}
            <tr>
                <td id="annDate">{{ ann.get_date() }}</td>
                <td id="annTitle">{{ ann.get_title() }}</td>
                <td id="annDesc">{{ ann.get_description() }}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
