{% extends "staffBase.html" %}
{% block title %}Update Stock Order{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<form method="POST" action="">
 <div class="form-group">
  {{ render_field(form.receivedDate, class="form-check") }}
 </div>
 <hr>
 <h2>Order Details</h2>
 <div class="form-group">
  {{ render_field(form.stockorderDate, class="form-check") }}
 </div>
 <div class="form-group">
  {{ render_field(form.shipmentDate, class="form-check") }}
 </div>
 <div class="form-group">
  {{ render_field(form.stockItemSerial, class="form-control") }}
 </div>
  <div class="form-group">
  {{ render_field(form.stockorderQuantity, class="form-control") }}
 </div>
 <div id="prof">
 </div>
 <input onclick="stockorderSubmit()" type="submit" value="Submit" class="btn btn-primary"/>

</form>
{% endblock %}
