{% extends "staffbase.html" %}
{% block title %}View Stock{% endblock %}
{% block content %}
<h1 class="display-4">Inventory</h1>
<hr>
<nav  class="navbar navbar-expand-lg bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="disabled">
            <a class="nav-link" style="text-decoration: underline;font-weight:bold"> view stock on hand</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewStockOrders"> view stock orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/createStockOrder"> order stock</a>
        </li>
    </ul>
</nav>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                 <th>Item Name</th>
                 <th>Item Serial</th>
                 <th>Item Category</th>
                 <th>Item Gender</th>
                 <th>Quantity</th>
                 <th>Status</th>
                 <th>Request Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itemList %}
                <tr>
                     <td>{{ item.get_itemName() }}</td>
                     <td>{{ item.get_itemSerial() }}</td>
                     <td>{{ item.get_itemCategory() }}</td>
                     <td>{{ item.get_itemGender() }}</td>
                     <td>{{ item.get_itemQuantity() }}</td>
                     <td>{{ item.get_itemStockStatus() }}</td>
                     <td><a href="/createStockOrder" class="btn btn-warning">Request</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
