<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="navbar-header">
      <!-- Brand -->
        <a class="navbar-brand" href="/">monoqlo</a>
    </div>

    <!-- Links -->
    <ul class="nav navbar-nav mr-auto">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class='fa fa-fw fa-list'></i>
            Catalogue
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/catalogueHis">Men's</a>
            <a class="dropdown-item" href="/catalogueHers">Women's</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactUs"><i class='fa fa-fw fa-phone'></i> Contact Us</a>
        </li>
        </ul>
    {%if session["username"] != ""%}
    <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class='fa fa-fw fa-user'></i>{{ session["username"] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/testcart"><i class='fa fa-fw fa-shopping-cart'></i>Your Cart</a>
        </li>
    </ul>
    {% else %}
     <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class='fa fa-fw fa-user'></i>user
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/createUser">Sign Up</a>
                <a class="dropdown-item" href="/login">Log In</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/testcart"><i class='fa fa-fw fa-shopping-cart'></i>Cart</a>
        </li>
    </ul>
    {% endif %}
</nav>



