<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/staffHome">monoqlo</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/itempage"><i class='fas fa-tshirt'></i> items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewStock"><i class='fas fa-warehouse'></i> inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/"><i class='fas fa-clipboard-check'></i> order history</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/salesReports"><i class='fas fa-chart-line'></i> sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/customerDemo"><i class='fas fa-poll'></i> customer demographic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/retrieveContact"><i class='fas fa-question'></i> inquiries</a>
        </li>
    </ul>

    <ul class="nav navbar-nav">
        <li class="nav-item dropleft">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!--sets name of staff-->
            {{ session["name"] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!--checks to see if the staff is admin or not-->
                {% if session["type"] == "Admin" %}
                    <a class="dropdown-item" href="/retrieveUsers">User Accounts</a>
                    <a class="dropdown-item" href="/createStaff">New Staff</a>
                    <a class="dropdown-item" href="/createAnnouncement">Create Announcement</a>
                    <a class="dropdown-item" href="/staffAccounts">Manage Staff Accounts</a>
                    <a class="dropdown-item" href="/retrieveAnnouncements">Manage Announcements</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                {% else %} <!--if staff is not admin-->
                <!--directs to a page to show ALL announcements-->
                    <a class="dropdown-item" href="/retrieveNormalAnnouncements">All Announcements</a>
                <!--allows normal staff to see their own account details-->
                    <a class="dropdown-item" href="/staffAccountDetails">Your Details</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>
